* {
    background-image: linear-gradient(to right, purple, rgb(59, 142, 175));

}

#back {
    font-family: cursive;
    font-weight: lighter;
    font-size: x-large;
    margin: 20px;
    color: white;
    background-image: none;
}

#back:link, #back:visited {
    color: white;
}

#back:hover {
    color: hotpink;
}

#abhinav2 {
    width: 29%;
    position: absolute;
    top: 70px;
    left: 2px;
    background-image: none;
   
}
#abhinav3 {
    width: 29%;
    position: absolute;
    top: 70px;
    left: 440px;
    background-image: none;
}
#abhinav4 {
    width: 29%;
    position: absolute;
    top: 70px;
    left: 880px;
    background-image: none;
}
#abhinavvideo {
    width: 40%;
    position: absolute;
    top: 510px;
    left: 365px;
    background-image: none;
}
