* {
    background-image: linear-gradient(to right, purple, rgb(59, 142, 175));
}

#back {
    font-family: cursive;
    font-weight: lighter;
    font-size: x-large;
    margin: 20px;
    background-image: none;
    color: white;
}

#back:link, #back:visited {
    color: white;
}

#back:hover {
    color: hotpink;
}

#trending {
    color: white;
    letter-spacing: 2px;
    background-image: none;
    font-size: 60px;
    position: absolute;
    top: 0px;
    padding: 0;
    left: 400px;
    background-image: none;
}

#snap1 {
    width: 29%;
    position: absolute;
    top: 170px;
    left: 30px;
    width: 29%;
    height: 650px;
}
#snap2 {
    width: 29%;
    position: absolute;
    top: 170px;
    left: 460px;
    height: 650px;
}
#snap3 {
    width: 29%;
    position: absolute;
    top: 170px;
    left: 880px;
    height: 650px;
}
#snap4 {
    width: 29%;
    position: absolute;
    top: 890px;
    left: 30px;
    height: 650px;
}
#snap5 {
    width: 29%;
    position: absolute;
    top: 890px;
    left: 460px;
    height: 650px;
}
#snap6 {
    width: 29%;
    position: absolute;
    top: 890px;
    left: 880px;
    height: 650px;
}
#snapvideo2 {
    width: 31%;
    position: absolute;
    top: 1595px;
    left: 200px;
    height: 650px;
    background-image: none;
}
#snapvideo3 {
    width: 31%;
    position: absolute;
    top: 1595px;
    left: 700px;
    height: 650px;
    background-image: none;
}