* {
    background-image: linear-gradient(to right, purple, rgb(59, 142, 175));
}

#back {
    font-family: cursive;
    font-weight: lighter;
    font-size: x-large;
    margin: 20px;
    background-image: none;
    color: white;
}

#back:link, #back:visited {
    color: white;
}

#back:hover {
    color: hotpink;
}

#soumyam1 {
    width: 33%;
    position: absolute;
    top: 70px;
    left: 450px;
   
}
